template(name="htmlTags")
  h1
  h2.myClass
  h3#myId
  h4.myClass#myId
  form: input
  header
    div
  p this is an #[strong important] word
  div styling #[span #[span tags]]

template(name="unwrappedText")
  | Unwrapped text
  h1
    | Hello world

template(name="htmlAttributes")
  input#i1(required)
  input#i2(type='password')
  input#i3(required=isRequired)
  input#i4(required, placeholder=placeholder)
  input#i5($dyn = attrs)
  div.class1.class2(class = "class3")

template(name="elseIf")
  if isAdmin
    h1 Hello admin
  else if isConnected
    h1 Hello user
  else
    h1 Hello visitor

template(name="expressions")
//-   h1= myTitle
//-   p Hello #{name} #{surname}

template(name="componentsInclusion")
  +componentA
  +componentB
    h2 content
  else
    h3 elseContent

template(name="componentsArguments")
//-   +componentC(arg)
//-   +componentD(arg1, arg2)
//-   +componentE(key1=val1, key2 = val2)
//-   +componentE arg1, arg2, key1=val1, key2 = val2

template(name="filterMarkdown")
//-   :markdown
//-     # First title

//-     * Let's compile this text on the server
//-     * So the client doesn't have to do it

template(name="componentA")
  h1 Hello world

template(name="componentB")
  +UI.contentBlock
  +UI.contentBlock
  +UI.elseBlock
  +UI.elseBlock
  +UI.elseBlock

//- template(name="componentC")

