//- First, define the component (jade + js)
template(name="isEven")
  if isEven value
    +content
  else
    +elseContent

//-
  Template.ifEven.isEven = function (value) {
    return value % 2 === 0;
  };

//- And now we can use it!
body
  +isEven(value=2)
    | 2 is even
  else
    | 2 is odd
